.background-alpha-0 {
  background-color: #a78874;
}

.color-alpha-0 {
  color: #a78874;
}

.background-alpha-1 {
  background-color: #f6e4d8;
}

.color-alpha-0 {
  color: #f6e4d8;
}

.background-alpha-2 {
  background-color: #cab09e;
}

.color-alpha-0 {
  color: #cab09e;
}

.background-alpha-3 {
  background-color: #836551;
}

.color-alpha-0 {
  color: #836551;
}

.background-alpha-4 {
  background-color: #67452e;
}

.color-alpha-0 {
  color: #67452e;
}

.background-beta-0 {
  background-color: #a77474;
}

.color-alpha-0 {
  color: #a77474;
}

.background-beta-1 {
  background-color: #f6d8d8;
}

.color-alpha-0 {
  color: #f6d8d8;
}

.background-beta-2 {
  background-color: #ca9e9e;
}

.color-alpha-0 {
  color: #ca9e9e;
}

.background-beta-3 {
  background-color: #835151;
}

.color-alpha-0 {
  color: #835151;
}

.background-beta-4 {
  background-color: #672e2e;
}

.color-alpha-0 {
  color: #672e2e;
}

.background-gamma-0 {
  background-color: #8b6075;
}

.color-alpha-0 {
  color: #8b6075;
}

.background-gamma-1 {
  background-color: #cdb4c0;
}

.color-alpha-0 {
  color: #cdb4c0;
}

.background-gamma-2 {
  background-color: #a88495;
}

.color-alpha-0 {
  color: #a88495;
}

.background-gamma-3 {
  background-color: #6d4457;
}

.color-alpha-0 {
  color: #6d4457;
}

.background-gamma-4 {
  background-color: #56263d;
}

.color-alpha-0 {
  color: #56263d;
}

.background-delta-0 {
  background-color: #634f70;
}

.color-alpha-0 {
  color: #634f70;
}

.background-delta-1 {
  background-color: #9d91a4;
}

.color-alpha-0 {
  color: #9d91a4;
}

.background-delta-2 {
  background-color: #7c6c87;
}

.color-alpha-0 {
  color: #7c6c87;
}

.background-delta-3 {
  background-color: #4b3858;
}

.color-alpha-0 {
  color: #4b3858;
}

.background-delta-4 {
  background-color: #372145;
}

.color-alpha-0 {
  color: #372145;
}

.background-epsilon-0 {
  background-color: #555774;
}

.color-alpha-0 {
  color: #555774;
}

.background-epsilon-1 {
  background-color: #999aab;
}

.color-alpha-0 {
  color: #999aab;
}

.background-epsilon-2 {
  background-color: #72748c;
}

.color-alpha-0 {
  color: #72748c;
}

.background-epsilon-3 {
  background-color: #3d3f5b;
}

.color-alpha-0 {
  color: #3d3f5b;
}

.background-epsilon-4 {
  background-color: #262747;
}

.color-alpha-0 {
  color: #262747;
}

.background-zeta-0 {
  background-color: #486864;
}

.color-alpha-0 {
  color: #486864;
}

.background-zeta-1 {
  background-color: #869997;
}

.color-alpha-0 {
  color: #869997;
}

.background-zeta-2 {
  background-color: #627d7a;
}

.color-alpha-0 {
  color: #627d7a;
}

.background-zeta-3 {
  background-color: #32514e;
}

.color-alpha-0 {
  color: #32514e;
}

.background-zeta-4 {
  background-color: #1d403c;
}

.color-alpha-0 {
  color: #1d403c;
}

.background-eta-0 {
  background-color: #708f63;
}

.color-alpha-0 {
  color: #708f63;
}

.background-eta-1 {
  background-color: #c1d3b9;
}

.color-alpha-0 {
  color: #c1d3b9;
}

.background-eta-2 {
  background-color: #93ad88;
}

.color-alpha-0 {
  color: #93ad88;
}

.background-eta-3 {
  background-color: #527146;
}

.color-alpha-0 {
  color: #527146;
}

.background-eta-4 {
  background-color: #365827;
}

.color-alpha-0 {
  color: #365827;
}

.background-theta-0 {
  background-color: #929e6e;
}

.color-alpha-0 {
  color: #929e6e;
}

.background-theta-1 {
  background-color: #e2e9cd;
}

.color-alpha-0 {
  color: #e2e9cd;
}

.background-theta-2 {
  background-color: #b5bf96;
}

.color-alpha-0 {
  color: #b5bf96;
}

.background-theta-3 {
  background-color: #707c4d;
}

.color-alpha-0 {
  color: #707c4d;
}

.background-theta-4 {
  background-color: #54612c;
}

.color-alpha-0 {
  color: #54612c;
}

.background-iota-0 {
  background-color: #a7a574;
}

.color-alpha-0 {
  color: #a7a574;
}

.background-iota-1 {
  background-color: #f6f4d8;
}

.color-alpha-0 {
  color: #f6f4d8;
}

.background-iota-2 {
  background-color: #cac89e;
}

.color-alpha-0 {
  color: #cac89e;
}

.background-iota-3 {
  background-color: #838151;
}

.color-alpha-0 {
  color: #838151;
}

.background-iota-4 {
  background-color: #67652e;
}

.color-alpha-0 {
  color: #67652e;
}

.alt0 {
  position: absolute;
  left: 0;
  top: 0;
}

.center-shift, #wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  background: #333;
  background: -webkit-linear-gradient(bottom, rgba(75, 56, 88, 0.5) 10%, rgba(51, 51, 51, 0) 60%), -webkit-radial-gradient(100% 40%, ellipse, rgba(202, 176, 158, 0.5), rgba(51, 51, 51, 0) 70%), -webkit-radial-gradient(0% 0%, ellipse, rgba(103, 46, 46, 0.7), rgba(51, 51, 51, 0)), black;
  background: linear-gradient(to top, rgba(75, 56, 88, 0.5) 10%, rgba(51, 51, 51, 0) 60%), radial-gradient(ellipse at 100% 40%, rgba(202, 176, 158, 0.5), rgba(51, 51, 51, 0) 70%), radial-gradient(ellipse at 0% 0%, rgba(103, 46, 46, 0.7), rgba(51, 51, 51, 0)), black;
}

#wrap {
  width: 710px;
  height: 710px;
}
#wrap .dot {
  pointer-events: none;
  width: 350px;
  height: 350px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 48px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  -webkit-transition: all 0.75s cubic-bezier(0, 0, 0.38, 1);
  transition: all 0.75s cubic-bezier(0, 0, 0.38, 1);
}
#wrap .dot #svglogo {
  position: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
  height: 350px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 1.5s cubic-bezier(0.18, 0.94, 0.26, 0.99);
  transition: all 1.5s cubic-bezier(0.18, 0.94, 0.26, 0.99);
}
#wrap .dot #svglogo .circle {
  pointer-events: visible;
  fill: rgba(0, 0, 0, 0.6);
  stroke: #ffffff;
  stroke-width: 3;
}
#wrap .dot #svglogo .ow {
  pointer-events: visible;
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
}
#wrap .dot .title {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 125px;
  left: 125px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  -webkit-transition: all 0.75s cubic-bezier(0, 0, 0.38, 1);
  transition: all 0.75s cubic-bezier(0, 0, 0.38, 1);
}
#wrap .dot:hover .title {
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}
#wrap .toolchest {
  border: 0px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 710px;
  height: 710px;
}
#wrap .toolchest .tool {
  position: absolute;
  left: 0;
  top: 0;
  width: 710px;
  height: 710px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
#wrap .toolchest .tool p {
  position: absolute;
  left: 305px;
  top: 120px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  background-color: rgba(221, 221, 221, 0.7);
  color: black;
  -webkit-transition: all 0.75s cubic-bezier(0, 0.62, 0.38, 1);
  transition: all 0.75s cubic-bezier(0, 0.62, 0.38, 1);
  opacity: 0;
}
#wrap .toolchest .tool p span {
  display: block;
}
#wrap .toolchest .tool p::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(221, 221, 221, 0.7) transparent transparent transparent;
}
#wrap .toolchest .tool:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
#wrap .toolchest .tool:nth-child(1) p span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
#wrap .toolchest .tool:nth-child(2) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
#wrap .toolchest .tool:nth-child(2) p span {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
#wrap .toolchest .tool:nth-child(3) {
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}
#wrap .toolchest .tool:nth-child(3) p span {
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
}
#wrap .toolchest .tool:nth-child(4) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
#wrap .toolchest .tool:nth-child(4) p span {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}
#wrap .toolchest .tool:nth-child(5) {
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}
#wrap .toolchest .tool:nth-child(5) p span {
  -webkit-transform: rotate(-160deg);
          transform: rotate(-160deg);
}
#wrap .toolchest .tool:nth-child(6) {
  -webkit-transform: rotate(200deg);
          transform: rotate(200deg);
}
#wrap .toolchest .tool:nth-child(6) p span {
  -webkit-transform: rotate(-200deg);
          transform: rotate(-200deg);
}
#wrap .toolchest .tool:nth-child(7) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}
#wrap .toolchest .tool:nth-child(7) p span {
  -webkit-transform: rotate(-240deg);
          transform: rotate(-240deg);
}
#wrap .toolchest .tool:nth-child(8) {
  -webkit-transform: rotate(280deg);
          transform: rotate(280deg);
}
#wrap .toolchest .tool:nth-child(8) p span {
  -webkit-transform: rotate(-280deg);
          transform: rotate(-280deg);
}
#wrap .toolchest .tool:nth-child(9) {
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
}
#wrap .toolchest .tool:nth-child(9) p span {
  -webkit-transform: rotate(-320deg);
          transform: rotate(-320deg);
}
#wrap .plate {
  position: absolute;
  border-radius: 50%;
  left: 105px;
  top: 105px;
  width: 500px;
  height: 500px;
}
#wrap .wedge {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.75s cubic-bezier(0, 0.62, 0.38, 1);
  transition: all 0.75s cubic-bezier(0, 0.62, 0.38, 1);
  border: 0px solid transparent;
  position: absolute;
  left: 105px;
  top: 105px;
  width: 500px;
  height: 500px;
  -webkit-transform-origin: 250px 250px;
          transform-origin: 250px 250px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
#wrap .wedge svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
  height: 500px;
}
#wrap .wedge svg path {
  pointer-events: visible;
}
#wrap .wedge i {
  color: #fff;
  position: absolute;
  opacity: .8;
  font-size: 42px;
  left: 0;
  top: 25px;
  width: 100%;
  text-align: center;
}
#wrap .wedge:nth-child(4) svg path {
  fill: rgba(167, 136, 116, 0.6);
  stroke: rgba(246, 228, 216, 0.6);
}
#wrap .wedge:nth-child(4):hover svg path {
  fill: rgba(103, 69, 46, 0.6);
}
#wrap .wedge:nth-child(5) svg path {
  fill: rgba(167, 116, 116, 0.6);
  stroke: rgba(246, 216, 216, 0.6);
}
#wrap .wedge:nth-child(5):hover svg path {
  fill: rgba(103, 46, 46, 0.6);
}
#wrap .wedge:nth-child(6) svg path {
  fill: rgba(139, 96, 117, 0.6);
  stroke: rgba(205, 180, 192, 0.6);
}
#wrap .wedge:nth-child(6):hover svg path {
  fill: rgba(86, 38, 61, 0.6);
}
#wrap .wedge:nth-child(7) svg path {
  fill: rgba(99, 79, 112, 0.6);
  stroke: rgba(157, 145, 164, 0.6);
}
#wrap .wedge:nth-child(7):hover svg path {
  fill: rgba(55, 33, 69, 0.6);
}
#wrap .wedge:nth-child(8) svg path {
  fill: rgba(85, 87, 116, 0.6);
  stroke: rgba(153, 154, 171, 0.6);
}
#wrap .wedge:nth-child(8):hover svg path {
  fill: rgba(38, 39, 71, 0.6);
}
#wrap .wedge:nth-child(9) svg path {
  fill: rgba(72, 104, 100, 0.6);
  stroke: rgba(134, 153, 151, 0.6);
}
#wrap .wedge:nth-child(9):hover svg path {
  fill: rgba(29, 64, 60, 0.6);
}
#wrap .wedge:nth-child(10) svg path {
  fill: rgba(112, 143, 99, 0.6);
  stroke: rgba(193, 211, 185, 0.6);
}
#wrap .wedge:nth-child(10):hover svg path {
  fill: rgba(54, 88, 39, 0.6);
}
#wrap .wedge:nth-child(11) svg path {
  fill: rgba(146, 158, 110, 0.6);
  stroke: rgba(226, 233, 205, 0.6);
}
#wrap .wedge:nth-child(11):hover svg path {
  fill: rgba(84, 97, 44, 0.6);
}
#wrap .wedge:nth-child(12) svg path {
  fill: rgba(167, 165, 116, 0.6);
  stroke: rgba(246, 244, 216, 0.6);
}
#wrap .wedge:nth-child(12):hover svg path {
  fill: rgba(103, 101, 46, 0.6);
}
#wrap .wedge:hover i {
  opacity: 1;
}
#wrap input {
  display: none;
}
#wrap input:checked ~ .wedge {
  opacity: 1;
}
#wrap input:checked ~ .wedge:nth-child(4) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
#wrap input:checked ~ .wedge:nth-child(4) i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
#wrap input:checked ~ .wedge:nth-child(5) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
#wrap input:checked ~ .wedge:nth-child(5) i {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
#wrap input:checked ~ .wedge:nth-child(6) {
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}
#wrap input:checked ~ .wedge:nth-child(6) i {
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
}
#wrap input:checked ~ .wedge:nth-child(7) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
#wrap input:checked ~ .wedge:nth-child(7) i {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}
#wrap input:checked ~ .wedge:nth-child(8) {
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}
#wrap input:checked ~ .wedge:nth-child(8) i {
  -webkit-transform: rotate(-160deg);
          transform: rotate(-160deg);
}
#wrap input:checked ~ .wedge:nth-child(9) {
  -webkit-transform: rotate(200deg);
          transform: rotate(200deg);
}
#wrap input:checked ~ .wedge:nth-child(9) i {
  -webkit-transform: rotate(-200deg);
          transform: rotate(-200deg);
}
#wrap input:checked ~ .wedge:nth-child(10) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}
#wrap input:checked ~ .wedge:nth-child(10) i {
  -webkit-transform: rotate(-240deg);
          transform: rotate(-240deg);
}
#wrap input:checked ~ .wedge:nth-child(11) {
  -webkit-transform: rotate(280deg);
          transform: rotate(280deg);
}
#wrap input:checked ~ .wedge:nth-child(11) i {
  -webkit-transform: rotate(-280deg);
          transform: rotate(-280deg);
}
#wrap input:checked ~ .wedge:nth-child(12) {
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
}
#wrap input:checked ~ .wedge:nth-child(12) i {
  -webkit-transform: rotate(-320deg);
          transform: rotate(-320deg);
}
#wrap input:checked ~ .dot #svglogo {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}
#textlogo
{
  color: darkred;
  font-size: 35px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}